{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Tasks</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                <tr>
                    {% for task in task_list %}
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"Done, " }}
                            {% if task.is_completed == False %}
                                <form method="post" action="{% url 'complete_task' task.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form>
                            {% endif %}
                        </td>
                        </tr>
                    {% empty %}
                        <p>You have no tasks</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock content %}