{% extends 'base.html' %}

{% block content %}
    <h1>My Projects</h1>
    <p>
        <a href="{% url 'create_project' %}">
            Create a new project
        </a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for project in project_list %}
                    <td>
                        <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% empty %}
                    <p>You are not assigned to any projects</p>
                {% endfor %}
            </tbody>
        </table>
{% endblock content %}